# File Input / Output (IO)

## Read contents from a text file
- cat
- < input redirection

In [5]:
! cat ./demo-scripts/input.txt

1 Ram Basnet 100 200
2 John Doe 50 75
3 Jake Smith 2 30

In [9]:
! echo $(< ./demo-scripts/input.txt)

1 Ram Basnet 100 200 2 John Doe 50 75 3 Jake Smith 2 30

In [20]:
! printf "%s " hello

hello

## parse file contents using while loop
- format output using printf command

In [95]:
%%bash

#! /bin/bash

cat ./demo-scripts/input.txt | while read id fname lname; do
    echo "$id. $fname    $lname" # last 3 columsn are read into lname
done

1. Ram    Basnet 100 100
2. John    Doe 50 75
3. Jake    Smith 25 30

In [94]:
%%bash

#! /bin/bash

cat ./demo-scripts/input.txt | sort -nr | while read id fname lname test1 test2; do
    echo "$id. $fname $lname $test1 $test2"
done

3. Jake Smith 25 30
2. John Doe 50 75
1. Ram Basnet 100 100

In [123]:
%%bash

#! /bin/bash

while read id fname lname test1 test2; do
    echo "$id. $fname $lname $test1 $test2"
done < ./demo-scripts/input.txt  | sort -nr

3. Jake Smith 25 30
2. John Doe 50 75
1. Ram Basnet 100 100

## grade book example

### bash doesn't do floating point arithmetic; use Python!

In [70]:
! echo $(( 2.5+3.2 ))

/bin/sh: 2.5+3.2 : syntax error: invalid arithmetic operator (error token is ".5+3.2 ")

In [83]:
! echo $((1/3))

0

In [72]:
! echo "print(1/3)" | python # use python!

0.3333333333333333

In [90]:
%%bash

#! /bin/bash

nW=10
fNW=20
lNW=20
printf '=%.0s' {1..85} # repeat = 85 times
echo
printf "%-${nW}s %-${fNW}s %-${lNW}s %${nW}s %${nW}s %${nW}s\n" \
    ID "First Name" "Last Name" "Test 1" "Test 2" "Average"
# left justification -N char wide column
printf '=%.0s' {1..85} # repeat = 85 times
echo

cat ./demo-scripts/input.txt | while read id fname lname test1 test2; do
    # bash doesn't do floating point arithmetic!
    avg=$(echo "print(($test1+$test2)/2)" | python)
    printf "%-${nW}s %-${fNW}s %-${lNW}s %${nW}.2f %${nW}.2f %${nW}.2f\n" $id $fname $lname $test1 $test2 $avg
done
printf '=%.0s' {1..85} # repeat = 85 times
echo

=====================================================================================
ID         First Name           Last Name                Test 1     Test 2    Average
=====================================================================================
1          Ram                  Basnet                   100.00     100.00     100.00
2          John                 Doe                       50.00      75.00      62.50
3          Jake                 Smith                     25.00      30.00      27.50
=====================================================================================

## write to file
- redirect output from terminal to a file using > or >> commands

### copy file line by line example

In [105]:
%%bash
# copy input.txt to inputBackup.txt line by line
cat ./demo-scripts/input.txt | while read line; do
    echo $line >> ./demo-scripts/inputBackup.txt
done

In [107]:
! cat ./demo-scripts/inputBackup.txt

1 Ram Basnet 100 100
2 John Doe 50 75
3 Jake Smith 25 30

In [110]:
! diff -y ./demo-scripts/inputBackup.txt ./demo-scripts/inputBackup.txt # output side-by-side

1 Ram Basnet 100 100						1 Ram Basnet 100 100
2 John Doe 50 75						2 John Doe 50 75
3 Jake Smith 25 30						3 Jake Smith 25 30

### copy file column by column example

In [118]:
%%bash
# copy input.txt to inputBackup.txt line by line
while read i fname lname grade1 grade2; do
    echo "$i $fname $lname $grade1 $grade2" >> ./demo-scripts/inputBackup1.txt
done < ./demo-scripts/input.txt

In [119]:
! diff -y ./demo-scripts/inputBackup.txt ./demo-scripts/inputBackup1.txt # output side-by-side

1 Ram Basnet 100 100						1 Ram Basnet 100 100
2 John Doe 50 75						2 John Doe 50 75
3 Jake Smith 25 30						3 Jake Smith 25 30
							      >	1 Ram Basnet 100 100
							      >	2 John Doe 50 75
							      >	3 Jake Smith 25 30

### redirect grade book to an output file in terminal
- demo-scripts/gradebook.sh > finalGrade.txt

In [99]:
! bash ./demo-scripts/gradebook.sh > ./demo-scripts/finalGrade.txt

In [101]:
! cat ./demo-scripts/finalGrade.txt

=====================================================================================
ID         First Name           Last Name                Test 1     Test 2    Average
=====================================================================================
1          Ram                  Basnet                   100.00     100.00     100.00
2          John                 Doe                       50.00      75.00      62.50
3          Jake                 Smith                     25.00      30.00      27.50
=====================================================================================